@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

body {
  margin: 0;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #212529;
  text-align: left;
  background-color: #f5f8fa;
}

.container-fluid {
  height: 65vh;
}

.row {
  margin-block-end: 15px;
}

.top {
  padding-block-start: 20px;
}

.ng-select.custom {
  border: 0px;
  min-height: 0px;
  border-radius: 0;
  width: 70px;
}

.material-icons {
  padding-inline-start: 15px;
}


.prop {
  color: #086444;
  font-weight: bold;
  font-family: monospace;
  font-size: 15px;
}

.modal-title {
  color: rgba(5, 10, 96, 0.931);
  font-weight: bold;
  font-family: fantasy;
  font-size: xx-large;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
}

button[type="button"] {
  background: #232323;
  margin-left: -5px;
  color: #fff;
  outline: none;
  border-radius: 16px 16px 16px 16px;
  padding: 2px 12px;
}
