body {
  margin: 0;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #212529;
  text-align: left;
  background-color: #f5f8fa;
}

.container-fluid {
  height: 65vh;
}

.contact {
  background: #f5f8fa;
  color: black;
  border-radius: 0px;
}

.contact-sm {
  padding-top: 24px;
  padding-bottom: 24px;
}

.contact small {
  color: #FFF;
}

.h1 small {
  font-size: 24px;
}

select {
  height: 100% !important;
}
