<div class="contact contact-sm">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="well well-sm">
          <form role="form" [formGroup]="contactForm" (ngSubmit)="leaveMessage()">
            <!-- <form action="https://formspree.io/f/xzbydjal" method="POST"> -->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="name">
                    Name</label>
                  <input type="text" class="form-control" formControlName="name" id="name" placeholder="Enter name"
                    required="required" />
                  <span class="error" *ngIf="contactForm.get('name').invalid && contactForm.get('name').touched">
                    Required
                  </span>
                </div>
                <div class="form-group">
                  <label for="email">
                    Email Address</label>
                  <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                    </span>
                    <input type="email" formControlName="email" id="name" class="form-control" id="email"
                      placeholder="Enter email" required="required" />
                    <span class="error" *ngIf="contactForm.get('email').invalid && contactForm.get('email').touched">
                      Required
                    </span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="subject">
                    Subject</label>
                  <select formControlName="subject" class="form-control" required="required">
                    <option [ngValue]="" disabled>Choose One:</option>
                    <option [ngValue]="'service'">Service</option>
                    <option [ngValue]="'suggestions'">Suggestions</option>
                    <option [ngValue]="'Cancel Orders'">Cancel Orders</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="name">
                    Message</label>
                  <textarea formControlName="message" class="form-control" rows="9" cols="25" required="required"
                    placeholder="Message"></textarea>
                  <span class="error" *ngIf="contactForm.get('message').invalid && contactForm.get('message').touched">
                    Required
                  </span>
                </div>
              </div>
              <div class="col-md-12">
                <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                  Send Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-4">
        <form>
          <legend><span class="glyphicon glyphicon-globe"></span> Our College</legend>
          <address>
            <strong>Ashdod Campus.</strong><br>
            84 Jabotinsky St.<br>
            Ashdod 77245<br>
            <abbr title="Phone">
              P:</abbr>
            +(972) 54-621-6379
          </address>
          <address>
            <strong>Full Name</strong><br>
            <a href="mailto:#">paulsason@gmail.com</a>
          </address>
        </form>
      </div>
    </div>
  </div>
