@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

body {
  margin: 0;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #212529;
  text-align: left;
  background-color: #f5f8fa;
}

.container-fluid {
  min-height: 65vh;
  height: auto;
}

.title {
  color: #212529;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  margin-block-end: 10px;
}
