<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>


<div class="aboutus-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="aboutus">
          <h2 class="aboutus-title">About Us</h2>
          <p class="aboutus-text">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae,
            eleifend ac, enim. Aliquam lorem ante, dapibus in.</p>
          <p class="aboutus-text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor
            aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem</p>
          <a class="aboutus-more" href="#">Contact with us</a>
        </div>
      </div>

      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="feature">
          <div class="feature-box">
            <div class="clearfix">
              <div class="iconset">
                <span class="glyphicon glyphicon-cog icon"></span>
              </div>
              <div class="feature-content">
                <h4>Work with heart</h4>
                <p>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac,
                  enim. Aliquam lorem ante, dapibus in.</p>
              </div>
            </div>
          </div>
          <div class="feature-box">
            <div class="clearfix">
              <div class="iconset">
                <span class="glyphicon glyphicon-cog icon"></span>
              </div>
              <div class="feature-content">
                <h4>Reliable services</h4>
                <p>Donec vitae sapien ut libero venenatis faucibu. Nullam quis ante. Etiam sit amet orci eget eros
                  faucibus tincidunt</p>
              </div>
            </div>
          </div>
          <div class="feature-box">
            <div class="clearfix">
              <div class="iconset">
                <span class="glyphicon glyphicon-cog icon"></span>
              </div>
              <div class="feature-content">
                <h4>Great support</h4>
                <p>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac,
                  enim. Aliquam lorem ante, dapibus in.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container team-sektion paddingTB60">
      <div class="row">
        <div class="site-heading text-center">
          <h3>Our Team</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt <br> ut labore
            et dolore magna aliqua. Ut enim ad minim </p>
          <div class="border"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 team-box">
          <div class="team-img thumbnail">
            <img src="assets/images/ourTeam/vin-diesel.jpg">
            <div class="team-content">
              <h3>Paul Kolesnik</h3>
              <div class="border-team"></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec
                facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam.</p>
              <div class="social-icons">
                <a href="https://www.facebook.com/"><i id="social-fb"
                    class="fa fa-facebook-square fa-3x social"></i></a>
                <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                <a href="https://plus.google.com/"><i id="social-gp"
                    class="fa fa-google-plus-square fa-3x social"></i></a>
                <a href="mailto:bootsnipp@gmail.com"><i id="social-em"
                    class="fa fa-envelope-square fa-3x social"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 team-box">
          <div class="team-img thumbnail">
            <img src="assets/images/ourTeam/gal-gadot.jpg">
            <div class="team-content">
              <h3>Lior Ohana</h3>
              <div class="border-team"></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec
                facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam.</p>
              <div class="social-icons">
                <a href="https://www.facebook.com/"><i id="social-fb"
                    class="fa fa-facebook-square fa-3x social"></i></a>
                <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                <a href="https://plus.google.com/"><i id="social-gp"
                    class="fa fa-google-plus-square fa-3x social"></i></a>
                <a href="mailto:bootsnipp@gmail.com"><i id="social-em"
                    class="fa fa-envelope-square fa-3x social"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 team-box">
          <div class="team-img thumbnail">
            <img src="assets/images/ourTeam/the-rock.jpg">
            <div class="team-content">
              <h3>Eden Mozes</h3>
              <div class="border-team"></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec
                facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam.</p>
              <div class="social-icons">
                <a href="https://www.facebook.com/"><i id="social-fb"
                    class="fa fa-facebook-square fa-3x social"></i></a>
                <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                <a href="https://plus.google.com/"><i id="social-gp"
                    class="fa fa-google-plus-square fa-3x social"></i></a>
                <a href="mailto:bootsnipp@gmail.com"><i id="social-em"
                    class="fa fa-envelope-square fa-3x social"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 team-box">
          <div class="team-img thumbnail">
            <img src="assets/images/ourTeam/the-rock.jpg">
            <div class="team-content">
              <h3>Talia Amsalem</h3>
              <div class="border-team"></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec
                facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam.</p>
              <div class="social-icons">
                <a href="https://www.facebook.com/"><i id="social-fb"
                    class="fa fa-facebook-square fa-3x social"></i></a>
                <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                <a href="https://plus.google.com/"><i id="social-gp"
                    class="fa fa-google-plus-square fa-3x social"></i></a>
                <a href="mailto:bootsnipp@gmail.com"><i id="social-em"
                    class="fa fa-envelope-square fa-3x social"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
