<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>


<div class="aboutus-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="aboutus">
          <h2 class="aboutus-title">About Us</h2>
          <p class="aboutus-text">Travel4u is a licensed travel agency located in Israel. We offer a variety of travel packages for individuals and groups, including:</p>
          <ul>
            <li>Corporate, Business, &amp; Group Travel</li>
            <li>Pacific &amp; Atlantic Ocean Cruises</li>
            <li>Caribbean &amp; Mediterranean Sea Cruises</li>
            <li>All-Inclusive Resort Stays</li>
            <li>Safari Packages in Africa &amp; Asia</li>
            <li>Destination Weddings &amp; Honeymoons</li>
            <li>European Vacations to Italy, France, and Germany</li>
            <li>Latin American Vacations to Mexico, Cuba, and Argentina</li>
          </ul>          
          <p class="aboutus-text">Our agents have been recognized as among the most talented in the travel industry, and excel in creating one-of-a-kind vacations and destination events that offer truly breathtaking experiences at an affordable cost.</p>
          <a class="aboutus-more" href="#">Contact with us</a>
        </div>
      </div>

      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="feature">
          <div class="feature-box">
            <div class="clearfix">
              <div class="iconset">
                <span class="glyphicon glyphicon-cog icon"></span>
              </div>
              <div class="feature-content">
                <h4>Work with heart</h4>
                <p>We work with you to choose the travel package that best fits your needs, create a customized itinerary and help you prepare for your trip to ensure that all goes smoothly.</p>
              </div>
            </div>
          </div>
          <div class="feature-box">
            <div class="clearfix">
              <div class="iconset">
                <span class="glyphicon glyphicon-cog icon"></span>
              </div>
              <div class="feature-content">
                <h4>Optional Tours</h4>
                <p>During your trip, you’ll have the opportunity to participate in several optional tours. These tours go beyond the standard tourist experience, and are designed to give you a memorable glimpse into local culture, history, and entertainment.</p>
              </div>
            </div>
          </div>
          <div class="feature-box">
            <div class="clearfix">
              <div class="iconset">
                <span class="glyphicon glyphicon-cog icon"></span>
              </div>
              <div class="feature-content">
                <h4>Our Customers</h4>
                <p>We’ve had the pleasure to work with many businesses, groups, and individuals over the years. Our dedication to creating outstanding travel experiences has allowed us to build quite the fan base, and much of our business comes from repeat customers and referrals from those who have had successful trips with us in the past.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container team-sektion paddingTB60">
      <div class="row">
        <div class="site-heading text-center">
          <h3>Our Team</h3>
          <p>We have put together the best team for you to receive the best service</p>
          <div class="border"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 team-box">
          <div class="team-img thumbnail">
            <img class="img" src="assets/images/team/Paul.jpg">
            <div class="team-content">
              <h3>Paul Kolesnik</h3>
              <h5>CEO</h5>
              <div class="border-team"></div>
              <p>Hello! I'm Paul Kolesnik,
                I founded the company 'Travel4u' out of love for vacations and trips and so that I can allow people to experience the vacation of their dreams.
                My team and I are here to make sure your trip is memorable and meets all your expectations.
                Enjoy your vacation and thank you for choosing 'Travel4u'!</p>
              <div class="social-icons">
                <a href="https://www.facebook.com/"><i id="social-fb"
                    class="fa fa-facebook-square fa-3x social"></i></a>
                <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                <a href="https://plus.google.com/"><i id="social-gp"
                    class="fa fa-google-plus-square fa-3x social"></i></a>
                <a href="mailto:bootsnipp@gmail.com"><i id="social-em"
                    class="fa fa-envelope-square fa-3x social"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 team-box">
          <div class="team-img thumbnail">
            <img class="img" src="assets/images/team/Lior.jpg">
            <div class="team-content">
              <h3>Lior Ohana</h3>
              <h5>VP Manager</h5>
              <div class="border-team"></div>
              <p>Hello! I'm Lior Ohana, planning a vacation for a client for me is like fulfilling his dream.
                Together with Paul, we have gathered for you the best agents who will take care of all your desires.
                We have created packages for your dream vacations in a variety of destinations.
                All you have to do is choose the destination and date and we will take care of the rest.
                Have a nice holiday and thank you for choosing us.</p>
              <div class="social-icons">
                <a href="https://www.facebook.com/"><i id="social-fb"
                    class="fa fa-facebook-square fa-3x social"></i></a>
                <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                <a href="https://plus.google.com/"><i id="social-gp"
                    class="fa fa-google-plus-square fa-3x social"></i></a>
                <a href="mailto:bootsnipp@gmail.com"><i id="social-em"
                    class="fa fa-envelope-square fa-3x social"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 team-box">
          <div class="team-img thumbnail">
            <img class="img" src="assets/images/team/Eden.jpg">
            <div class="team-content">
              <h3>Eden Mozes</h3>
              <h5>Travel Agent</h5>
              <div class="border-team"></div>
              <p>Hello! I’m Eden Mozes, and I’m responsible for ensuring every aspect of your experience with Travel4u is pleasing. I love travel myself, and have personally had the good fortune to visit many of the destinations that are available through our travel packages. I am passionate about helping others experience everything the world has to offer, and am quite excited to help you with your vacation.</p>
              <div class="social-icons">
                <a href="https://www.facebook.com/"><i id="social-fb"
                    class="fa fa-facebook-square fa-3x social"></i></a>
                <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                <a href="https://plus.google.com/"><i id="social-gp"
                    class="fa fa-google-plus-square fa-3x social"></i></a>
                <a href="mailto:bootsnipp@gmail.com"><i id="social-em"
                    class="fa fa-envelope-square fa-3x social"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 team-box">
          <div class="team-img thumbnail">
            <img class="img" src="assets/images/team/Talia.jpg">
            <div class="team-content">
              <h3>Talia Amsalem</h3>
              <h5>Travel Agent</h5>
              <div class="border-team"></div>
              <p>Hello! I’m Talia Amsalem, I love sharing the excitement of planning a vacation with my clients and most of all love knowing that I helped them enjoy.
                I came to Travel4u as a client and after a few vacations, I realized I wanted to join the team and allow people to experience what I experienced during my vacations.
                Waiting to hear about your dreams and make them a reality.</p>
              <div class="social-icons">
                <a href="https://www.facebook.com/"><i id="social-fb"
                    class="fa fa-facebook-square fa-3x social"></i></a>
                <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                <a href="https://plus.google.com/"><i id="social-gp"
                    class="fa fa-google-plus-square fa-3x social"></i></a>
                <a href="mailto:bootsnipp@gmail.com"><i id="social-em"
                    class="fa fa-envelope-square fa-3x social"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
