<footer class="container-fluid bg-grey py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6 ">
            <div class="logo-part">
              <img src="assets/images/travel.jpg" class="w-50 logo-footer">
            </div>
          </div>
          <div class="col-md-6 px-4">
            <h6> About Company</h6>
            <p>But horizontal lines can only be a full pixel high.</p>
            <a href="#" class="btn-footer"> More Info </a><br>
            <a href="#" class="btn-footer"> Contact Us</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6 px-4">
            <h6> Help us</h6>
            <div class="row ">
              <div class="col-md-6">
                <ul>
                  <li> <a href="#"> Home</a> </li>
                  <li> <a href="#"> About</a> </li>
                  <li> <a href="#"> Service</a> </li>
                  <li> <a href="#"> Team</a> </li>
                  <li> <a href="#"> Help</a> </li>
                  <li> <a href="#"> Contact</a> </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 ">
            <h6> Newsletter</h6>
            <div class="social">
              <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
            <form class="form-footer my-3">
              <input type="text" placeholder="search here...." name="search">
              <input type="button" value="Go">
            </form>
            <p>Copyright &copy; {{year}}</p>
            <p>Paul Kolesnik, Lior Ohana</p>
            <p>Talia Amsalem, Eden Mozes</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>
