img {
  height: 25vh;
  background-repeat: no-repeat;
}

.container-fluid {
  background-color: darkorange;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: larger;
  color: white;
}

h1 {
  font-family: 'Fredoka One', cursive;
  font-family: 'Josefin Sans', sans-serif;
}
