img {
  height: 25vh;
  background-repeat: no-repeat;
}

.container-fluid {
  background-color: rgb(142, 248, 216);
}

p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: larger;
  color: rgb(26, 25, 25);
}

h1 {
  font-family: 'Fredoka One', cursive;
  font-family: 'Josefin Sans', sans-serif;
}
