<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,100&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Josefin+Sans:ital,wght@1,100&display=swap" rel="stylesheet">
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <img src="assets/images/logo.jpg">
    </div>
    <div class="col">
      <h1>Travel4u</h1>
      <p>Enjoy your vacation</p>
    </div>
  </div>
</div>
