<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Management Panel</div>
    <div class="list-group list-group-flush">
      <a routerLink="/panel/users" class="list-group-item list-group-item-action bg-light">Users</a>
      <a routerLink="/panel/packages" class="list-group-item list-group-item-action bg-light">Packages</a>
      <a routerLink="/panel/reservations" class="list-group-item list-group-item-action bg-light">Reservations</a>
      <a routerLink="/panel/" class="list-group-item list-group-item-action bg-light">Users</a>
      <a routerLink="/panel/" class="list-group-item list-group-item-action bg-light">Users</a>
    </div>
  </div>
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <button class="btn" id="menu-toggle">Toggle Panel</button>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/logout">Logout <span class="user">({{user}})</span><span class="sr-only">(current)</span></a>
          </li>
  
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
